body {
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
}

hr {
  border-style: dotted none none;
  border-width: 5px;
  border-color: grey;
  height: 0px;
  width: 4%;
}

h1 {
  font-size: 5.26em;
  /*margin-top: 0;
  width: 10%;
  margin: 0 auto;*/
  font-family: 'Dancing Script', cursive;
}

h2 {
  font-size: 2.34em;
  font-family: 'Barlow Condensed', sans-serif;
}

h3 {
  font-size: 1em font-family: 'Barlow Condensed', sans-serif;
}

.top-container {
  background-color: #a1eafb;
  position: relative;
  padding-top: 100px
}

.middle-container {
  background-color: #d1f5d3;
  position: relative;
  padding-top: 100px
}

.bottom-container {
  background-color: #dddddd;
  position: relative;
  padding-top: 50px
}

.pro {
  text-decoration: underline;
}

.top-cloud {
  position: absolute;
  right: 300px;
  top: 50px;
}

.bottom-cloud {
  position: absolute;
  left: 300px;
  bottom: 300px;
}

.profile-pic {
  width: 300px;
  height: 300px;
}
